body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1{
    
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin-bottom: 0px;
} 

p{
    font-family: 'Merriweather', serif;
    font-size: 30px;
   
}


.top-container{
    background-color: rgb(162, 36, 224);
    padding: 150px;
    position: relative;

}

.top-cloud{
    position: relative;
    left: 300px;
}
